.btnSlide{
    color: #eeeeee ;
    background-color: #eeeeee2e;
    outline: none;
    padding: 1em 0.5em;
    border-radius: 7px;
}
.categoryItem{
    text-decoration: none;
    color: #eeeeee;
    padding: 1% 2%;
    border-radius: 2rem;
    border: 1px solid #eeeeee;
    font-size: 0.85rem;
}