<div class="d-flex justify-content-center" style="position: relative; align-items: center">
    <div class="homePageSlide animate__animated" [ngClass]="setClass(0)">
        <img src="https://themepixer.com/demo/html/halda/halda/assets/img/slider/banner_bg.jpg " />
        <div class="homePageSlide__page d-flex justify-content-center">
            <div class="homePageSlide__page__detail">
                <div class="d-flex gap-2 mb-3">
                    <h1 style="color: #eeeeee; font-size: 50px; font-weight: 500" class="animate__animated animate__fadeInLeft animate__delay-2s">
                        WELCOME TO HALDA
                    </h1>
                </div>
                <a class="btn wow fadeInUp" data-wow-delay="2.2s " style="visibility: visible">Discovery Now</a
        >
      </div>
    </div>
  </div>
  <div class="homePageSlide animate__animated" [ngClass]="setClass(1)">
    <img src="https://themepixer.com/demo/html/halda/halda/assets/img/slider/banner_bg02.jpg" />
    <div class="homePageSlide__page d-flex justify-content-center">
        <div class="homePageSlide__page__detail">
            <div class="d-flex gap-2 mb-3">
                <h1 style="color: #eeeeee; font-size: 50px; font-weight: 500" class="animate__animated animate__fadeInLeft animate__delay-2s">
                    WELCOME TO HALDA 1
                </h1>
            </div>
            <a class="btn wow fadeInUp" data-wow-delay="2.2s " style="visibility: visible">Discovery Now</a
    >
  </div>
</div>
</div>
<div class="homePageSlide animate__animated" [ngClass]="setClass(2)">
    <img src="https://themepixer.com/demo/html/halda/halda/assets/img/slider/banner_bg03.jpg" />
    <div class="homePageSlide__page d-flex justify-content-center">
        <div class="homePageSlide__page__detail">
            <div class="d-flex gap-2 mb-3">
                <h1 style="color: #eeeeee; font-size: 50px; font-weight: 500" class="animate__animated animate__fadeInLeft animate__delay-2s">
                    WELCOME TO HALDA 1
                </h1>
            </div>
            <a class="btn wow fadeInUp" data-wow-delay="2.2s " style="visibility: visible">Discovery Now</a
    >
  </div>
</div>
</div>
    <div style="position: absolute; left: 2%" (click)="onPrevious()">
        <span class="btn btn-primary bi bi-chevron-double-left"></span>
    </div>
    <div style="position: absolute; right: 2%" (click)="onNext()">
        <span class="btn btn-primary bi bi-chevron-double-right"></span>
    </div>
</div>