<div class="py-3 home-galleria">
  <div
    class="grid align-items-stretch m-0"
    *ngFor="let item1 of productSlider; let i = index"
  >
    <div
      style="height: 385px;"  class=" col-8 relative home-galleria-left-part animate__animated animate__fadeIn"
      *ngIf="selectedIndex == i"
    >
      <div
        class="left-part-bg"
        [style.background]="'url(' + item1.product.imgY.url + ')'"
      ></div>
      <img width="100%" [src]="item1.product.imgY.url" />
      <div class="absolute w-full flex gap-1 top-0 mt-5 ml-4">
        <span
          *ngFor="let cateItem of item1.detail.categlory; let i = index"
          style="
            color: #eeeeee;
            padding: 1% 2%;
            border-radius: 2rem;
            font-size: 0.85rem;
            font-weight: bold;
            background-color: #00000043;
            backdrop-filter: blur(10px);
          "
        >
          {{ cateItem.cateName }}
        </span>
      </div>
    </div>
    <div
      class="col-4 px-5 flex flex-column justify-content-between relative home-galleria-right-part"
      style="
        overflow: hidden;
        margin-top: 1rem;
        margin-bottom: calc(1rem + 4px);
      "
      *ngIf="selectedIndex == i"
    >
      <!-- <div class="px-5 pt-5 flex flex-column justify-content-between" style="position: relative;overflow: hidden;border-radius: 15px; height: 100%;"> -->
      <div
        class="right-part-bg"
        [style.background]="
          'url(' + item1.product.imgX.url + '?h=70&resize=1&w=140' + ')'
        "
      ></div>
      <div
        class="flex flex-column justify-content-between align-items-center right-part-info"
      >
        <div>
          <h5>
            <b>{{ item1.product.productName }}</b>
          </h5>
          <p
            style="
              width: auto;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 25px;
              -webkit-line-clamp: 3;
              height: 75px;
              font-size: 1rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
            "
          >
            {{ item1.product.shortDescription }}
          </p>
        </div>
      </div>
      <div style="width: 100%">
        <h5>{{ item1.product.price | currency : "USD" }}</h5>
        <button
          (click)="toDetailProduct(item1.product._id)"
          pButton
          pRipple
          label="See more detail"
          style="background-color: rgba(41, 41, 41, 0.459); border: none"
        ></button>
      </div>
      <div class="grid">
        <img
          *ngFor="
            let imgDetail of item1.detail.imgList.slice(0, 2);
            let i = index
          "
          style="border-radius: 15px"
          class="col-6 p-2"
          width="100%"
          [src]="imgDetail.url"
        />
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div
    class="w-full flex gap-2 justify-content-center home-galleria-list-btn"
    style="min-height: 10px"
  >
    <div
      (click)="slideShow(i)"
      class="toggle"
      *ngFor="let item of productSlider; let i = index"
    >
      <input type="radio" name="toggle" [id]="'toggle-' + i" />
      <label [for]="'toggle-' + i" [class]="'label-' + i"></label>
    </div>
  </div>
</div>
<div class="py-3 home-sale ml-0">
  <div class="home-sale-title flex justify-content-between align-items-center">
    <h4>On sale</h4>
    <h5>See more</h5>
  </div>
  <app-home-page-onsale class="animate__animated animate__fadeIn" style="height: 457px;" ></app-home-page-onsale>
</div>
<div class="py-3 home-category">
  <div class="home-category-title">
    <h2>Categlory</h2>
  </div>
  <div class="relative flex align-items-center">
    <button style="background-color: #c2c2c22c;" (click)="onPrevious()" class="absolute  py-3 z-5 border-round-lg">
      <span class="text-xl pi pi-chevron-left"></span>
    </button>
    <div
      style="height: 250px"
      class="flex gap-3"
      *ngFor="let item of categorylist"
    >
      <ng-container *ngIf="item.index === index">
        <ng-container *ngFor="let i of item.category">
          <div class="relative animate__animated animate__fadeIn">
            <img class="border-round-lg" [src]="i.image" width="100%" />
            <div
              class="border-round-lg gradient"
              [style]="'background: linear-gradient(' + i.color + ')'"
            ></div>
            <h3
              style="bottom: 1rem;"
              class="absolute w-full text-center"
            >
              {{ i.cateName }}
            </h3>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <button style="background-color: #c2c2c22c;" (click)="onNext()" class="absolute right-0 py-3 border-round-lg">
      <span class="text-xl pi pi-chevron-right"></span>
    </button>
  </div>
</div>
<!-- <div class="py-3 home-product">
  <div class="home-sale-title flex justify-content-between align-items-center">
    <h4>On sale</h4>
    <h5>See more</h5>
  </div>
  <div class="grid home-product-content">
    <div *ngFor="let item of productList" class="col-3">
      <img width="100%" [src]="item.imgX.url + '?h=480&resize=1&w=360'" />
    </div>
  </div>
</div> -->

<div class="py-3 home-list">
  <div class="home-sale-title flex justify-content-between align-items-center">
    <h4>List of product</h4>
    <h5>See more</h5>
  </div>
  <app-home-page-list></app-home-page-list>
</div>
