<div class="flex flex-column justify-content-center align-items-center" style="
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 4rem 0;
    background: left / 100% 100% no-repeat
      url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
  ">
    <div class="relative w-6 container">
        <div style="padding: 10em 8em;" class="blurBg ">
            <div class=" container1">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
              </div>
            <h3>Your account had active</h3>
            <button class="buttonCustom" style="color: #eeeeee;" routerLink="/home">Start shopping</button>
        </div>
    </div>
</div>