<div *ngIf="(isLogin$ | async) as Boolean" class="cartList" [ngClass]="cartButton ? 'cartMenu':''">
    <h2>Cart</h2>
    <button class="material-icons" (click)="cartMenu()">shopping_cart</button>
    <div class="cartItems" *ngIf="cart">

        <div class="cartItem" *ngFor="let item  of cart |async ">
            <img [src]="item.imgX.url" />
            <div class="cartItem__info ">
                <h3>{{item.productName}}</h3>
                <span>{{item.price - ((item.price*item.sale.salePersent)/100) | currency:'USD'}}<del>{{item.price | currency:'USD'}}</del></span>
            </div>
            <i class="material-icons " (click)="removeCartDetail(item._id)">close</i>
        </div>

    </div>
    <h2 style="cursor: pointer;" (click)="checkOut()">Check Out</h2>
    <div>


    </div>


</div>