<div class="grid mt-0">
  <div class="col-3">
    <img [src]="productItem.product.imgY.url + '?h=70&resize=1&w=140'" />
  </div>
  <div class="col-5 flex flex-column justify-content-between">
    <h5 style="color: white;" >{{ productItem.product.productName }}</h5>
    <div class="flex gap-1 flex-wrap">
      <a class="categoryItem" *ngFor="let item of categoryItem">
        {{ item.cateName }}
      </a>
    </div>
  </div>
  <div class="col-1 flex align-items-center">
    <span class="saleItem">-{{ productItem.product.sale.salePersent }}%</span>
  </div>
  <div class="col-3 flex flex-column justify-content-center">
    <del *ngIf="productItem.product.price">{{ productItem.product.price | currency : "USD" }}</del>
    <h2 style="color: white;" class="mb-2">
      {{ priceAfterSale | currency : "USD" }}
    </h2>
  </div>
</div>
