.categoryItem{
    text-decoration: none;
    color: #eeeeee;
    padding: 1% 2%;
    border-radius: 2rem;
    border: 1px solid #eeeeee;
    font-size: 0.85rem;
}
.saleItem{
    text-align: center;
    font-size: 15px;
    padding: 2% 5%;
    background-color: #00adb5;
    border-radius: 5px;
}