<!-- <div class="col-sm-2 btn-group " role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">All</button>
    <button type="button" (click)="loadData1()" class="btn btn-outline-primary">Month</button>

    <button (click)="loadData(2022)" type="button" class="btn btn-outline-primary">Year</button>
</div>
<button (click)="loadData(2022)" type="button" class="btn btn-outline-primary">Year</button>
<button (click)="loadData(2023)" type="button" class="btn btn-outline-primary">Year</button>
<button (click)="loadData(2024)" type="button" class="btn btn-outline-primary">Year</button>
<button (click)="loadData(2025)" type="button" class="btn btn-outline-primary">Year</button>
<button (click)="loadData(2026)" type="button" class="btn btn-outline-primary">Year</button> -->

<h5>Sales Overview</h5>
<!-- <p-chart type="bar" [data]="chartAmount"></p-chart> -->