<div class="listProduct__link">
    <a [class.color]="id === item.id" *ngFor="let item of listLink" [id]="item.id" (click)="display(item.id)">{{ item.content }}</a
  >
</div>
<div class="p-2" style="width: 100%">
  <div style="width: 100%" *ngFor="let item of listLink">
    <div class="grid" *ngIf="id === item.id">
      <ng-component *ngIf="userStageLogin">
        <div class="col-12 text-center" *ngIf="id === '3'">
          <h2>Sign in to view personalized recommendations</h2>
          <button
            pButton
            pRipple
            label="Sign In"
            class="p-button-success"
          ></button>
        </div>
      </ng-component>

      <div class="col-8 p-0">
        <div
          class="grid m-0"
          *ngFor="let product of item.products; let i = index"
          [ngClass]="{
            active: selectedIndex === i,
            'background-active': selectedIndex === i
          }"
          (mouseenter)="slideShow(i)"
        >
          <div class="col-3">
            <img
              width="100%"
              [src]="product.product.imgY.url + '?h=70&resize=1&w=140'"
            />
          </div>

          <div class="col-5 flex flex-column justify-content-between">
            <h5>{{ product.product.productName }}</h5>
            <div class="flex gap-1 flex-wrap">
              <a
                style="
                  text-decoration: none;
                  color: #eeeeee;
                  padding: 1% 2%;
                  border-radius: 2rem;
                  border: 1px solid #eeeeee;
                  font-size: 0.85rem;
                "
                *ngFor="let item of product.productDetail.categlory"
                >{{ item.cateName }}
              </a>
</div>
</div>
<div class="col-1 flex align-items-center">
    <span style="
                text-align: center;
                font-size: 15px;
                padding: 5px 7px;
                background-color: #00adb5;
                border-radius: 5px;
              ">-{{ product.product.sale.salePersent }}%</span
            >
          </div>

          <div class="col-3 flex flex-column justify-content-center">
            <del *ngIf="product.product.price">{{
              product.product.price | currency : "USD"
            }}</del>
            <h2 class="mb-2">
              {{
                product.product.price -
                  (product.product.price * product.product.sale.salePersent) /
                    100 | currency : "USD"
              }}
            </h2>
          </div>
        </div>
      </div>
      <div
        class="p-2 col-4 detail-disable"
        *ngFor="let product of item.products; let i = index"
        [ngClass]="{ 'img-active': selectedIndex === i }"
      >
        <div *ngIf="product">
          <h2>{{ product.product.productName }}</h2>
          <div class="relative">
            <div
              class=""
              *ngFor="let item of product.productDetail?.imgList; let i = index"
            >
              <img
                class="cc"
                width="100%"
                height="100%"
                *ngIf="i === counter"
                [src]="item.url + '?h=270&resize=1&w=480'"
              />
            </div>
            <div
              class="flex justify-content-between align-items-center absolute top-0 left-0"
              style="width: 100%; height: 100%"
            >
              <button
                style="color: #eeeeee"
                class="btn bi bi-chevron-left"
                (click)="onPrevious()"
                [disabled]="counter === 0"
              ></button>
              <button
                (click)="onNext(product.productDetail?.imgList)"
                [disabled]="
                  counter == product.productDetail?.imgList.length - 1
                "
                style="color: #eeeeee"
                class="btn bi bi-chevron-right"
              ></button>
            </div>
          </div>
          <br />
          <div class="flex gap-1 flex-wrap">
            <a
              *ngFor="
                let item of product.productDetail?.categlory;
                let i = index
              "
              >{{ item.cateName }}
            </a>
          </div>

          <div class="my-3 flex justify-content-between">
            <span class="mb-2 fs-6"><b> Developer : </b></span>

    <span class="mb-2 fs-6">{{
              product.productDetail?.developer.devName
            }}</span>
</div>

<p>{{ product.product.shortDescription }}</p>
</div>
</div>
</div>
</div>
</div>